<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение пароля</title>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/change-password.css}">
</head>
<body>
<div class="mainDiv">
    <div class="cardStyle">
        <form th:method="PATCH" th:action="@{/profile/change-password}" th:object="${password}">
            <h2 class="formTitle">
                Для изменения пароля введите старый пароль
            </h2>
            <div class="inputDiv">
                <label class="inputLabel" for="old-password">Введите старый пароль</label>
                <input th:field="*{oldPassword}" type="password" id="old-password" name="password" required>
                <div style="color:red" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></div>
            </div>
            <div class="inputDiv">
                <label class="inputLabel" for="password">Новый пароль</label>
                <input th:field="*{newPassword}" type="password" id="password" name="password" required>
                <div style="color:red" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
            </div>
            <div class="inputDiv">
                <label class="inputLabel" for="confirmPassword">Подтвердите пароль</label>
                <input th:field="*{confirmPassword}" type="password" id="confirmPassword" name="confirmPassword" required>
                <div style="color:red" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
            </div>
            <div class="buttonWrapper">
                <button type="submit" id="submitButton" class="submitButton">
                    <span>Продолжить</span>
                </button>
            </div>
        </form>
        <div id="popup1" th:class="${popup}">
            <div class="popup">
                <h2>Уведомление</h2>
                <div class="content" th:text="${message}"></div>
                <button type="button" class="buttonPopup" onclick="document.location='/profile'">
                    Продолжить
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>