<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403</title>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/error/403.css}">
    <script th:src="@{/js/403.js}"></script>
</head>
<body>
<h1>403</h1>
<div>
    <p>> <span>Код ошибки: </span>: "<i>HTTP 403 Forbidden</i>"</p>
    <p>>
        <span>Описание ошибки</span>: "<i>Доступ запрещен. У вас нет разрешения на доступ к этой странице на этом сервере</i>"
    </p>
    <p>
        > <span>Ошибка Возможно вызвана</span>
        : [<b>доступ на выполнение запрещен, доступ на чтение запрещен, доступ на запись запрещен,
        требуется SSL, требуется SSL 128, IP-адрес отклонен, требуется сертификат клиента,
        доступ к сайту запрещен, слишком много пользователей, недопустимая конфигурация,
        смена пароля, доступ к картографу запрещен, сертификат клиента отозван,
        листинг каталога запрещен, превышено количество лицензий на доступ клиента,
        сертификат клиента ненадежен или недействителен, сертификат клиента истек или еще не действителен,
        вход в систему по паспорту невозможен, доступ к источнику запрещен, бесконечная глубина запрещена,
        слишком много запросов с одного клиентского IP-адреса</b>...]
    </p>
    <p>>
        <span>Некоторые страницы на этом сервере доступ к которым у вас есть</span>
        : [
        <a href="/">Домашняя страница</a>,
        <a href="/about">О нас</a>,
        <a href="/profile">Профиль</a>... ]
    </p>
</div>
</body>
</html>