<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/error/404.css}">
</head>
<body class="bg-purple">
<div class="stars">
    <div class="custom-navbar">
        <div class="navbar-links">
            <ul>
                <li>
                    <a href="/" target="_blank">Домашняя страница</a>
                </li>
                <li>
                    <a href="/about" target="_blank">О нас</a>
                </li>
                <li>
                    <a href="/profile" class="btn-request">Перейти в профиль</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="central-body">
        <img class="image-404" src="/svg/404.svg" width="300px" alt="404-img">
        <a href="/" class="btn-go-home">На домашную страницу</a>
    </div>
    <div class="objects">
        <img class="object_rocket" src="/svg/404/rocket.svg" width="40px" alt="rocket">
        <div class="earth-moon">
            <img class="object_earth" src="/svg/404/earth.svg" width="100px" alt="earth">
            <img class="object_moon" src="/svg/404/moon.svg" width="80px" alt="moon">
        </div>
        <div class="box_astronaut">
            <img class="object_astronaut" src="/svg/404/astronaut.svg" width="140px" alt="astronaut">
        </div>
    </div>
    <div class="glowing_stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
</div>
</body>
</html>