<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>408</title>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/error/408.css}">
</head>
<body>
<img class="clock408" th:src="@{img/408.png}">
<div class="number408">408</div>
<div class="text408">
    Sorry, the server got tired of waiting.<br><br>
    <button onClick="location.href = '/';">Home Page</button>
    <button onClick="location.href = '/about';">About</button>
    <button onClick="location.href = '/profile';">Go to profile</button>
</div>
</body>
</html>