<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500</title>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/error/500.css}">
</head>
<body>
<div class="wrapper">
    <div class="box">
        <h1>500</h1>
        <p>Внутренняя ошибка сервера. Это значит, что-то пошло не так. &#58;&#40;</p>
        <p>
            <a href="/">Home Page</a>
            <a href="/about">About</a>
            <a href="/profile">Go to profile</a>
        </p>
    </div>
</div>
</body>
</html>