<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка</title>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/error/error.css}">
</head>
<body>
<main class="bsod container">
    <h1 class="neg title">
        <span class="bg" th:text="${error}"></span>
    </h1>
    <p>Произошла ошибка, чтобы продолжить: </p>
    <p>*  Вернуться на домашнюю страницу. <br/> </p>
    <nav class="nav">
        <a href="/profile" class="link">Перейти к профилю</a>&nbsp;|&nbsp;
        <a href="/" class="link">Перейти на домашную страницу</a>
    </nav>
</main>
</body>
</html>