<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mine</title>
</head>
<body>
<form th:method="POST" th:action="@{/profile}" th:object="${block}">
    <label for="manufacturer">Производитель: </label>
    <input id="manufacturer" type="text" th:field="*{manufacturer}">
    <div style="color:red" th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}">manufacturer error</div>
    <br>
    <label for="nameOfProduct">Имя товара: </label>
    <input id="nameOfProduct" type="text" th:field="*{nameOfProduct}">
    <div style="color:red" th:if="${#fields.hasErrors('nameOfProduct')}" th:errors="*{nameOfProduct}">nameOfProduct error</div>
    <br>
    <label for="dateOfManufacture">Дата создания</label>
    <input type="date" id="dateOfManufacture" th:field="*{dateOfManufacture}">
    <div style="color:red" th:if="${#fields.hasErrors('dateOfManufacture')}" th:errors="*{dateOfManufacture}">dateOfManufacture error</div>
    <br>
    <label for="productDescription">Описание продукта</label>
    <input id="productDescription" th:field="*{productDescription}">
    <div style="color:red" th:if="${#fields.hasErrors('productDescription')}" th:errors="*{productDescription}">productDescription error</div>
    <br>
    <input type="submit" value="Создать"/>
</form>
<br>
<a href="/profile">Назад</a>
</body>
</html>