<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>
    <div class="card">
        <img src="/img/unknown_person.jpg" alt="username" style="width:100%">
        <h1 th:text="'Имя пользователя: ' + ${#authentication.getPrincipal().username}"></h1>
        <p class="title" th:text="'Email: ' + ${#authentication.getPrincipal().email}"></p>
        <p>
            <button onclick="document.location='/profile/create'">
                Создать блок
            </button>
            <button onclick="document.location='/profile/chain'">
                Посмотреть цепочку блоков
            </button>
            <button>
                Изменить фото
            </button>
            <button onclick="document.location='/profile/change-password'">
                Изменить пароль
            </button>
            <button onclick="document.location='/logout'">
                Выйти
            </button>
        </p>
    </div>
</body>
</html>