<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <script th:src="@{/js/login.js}"></script>
</head>
<body>
<div id="container" th:class="${container_class}">
    <div class="form-container sign-up-container">
        <form th:action="@{/register}" th:method="POST" th:object="${user}">
            <h1>Создать аккаунт</h1>
            <input id="username" placeholder="Имя пользователя" required th:field="*{username}" type="text"/>
            <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username error</div>
            <input type="email" placeholder="Email" id="email" th:field="*{email}" required/>
            <input type="password" placeholder="Пароль" id="password" th:field="*{password}" required/>
            <button>Зарегистрироваться</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="/" method="post">
            <h1>Войти</h1>
            <label>Имя пользователя:</label>
            <input type="text" placeholder="Имя пользователя" name="username" required/>
            <input type="password" placeholder="Пароль" name="password" required/>
            <button>Войти</button>
            <a href="/register" methods="GET">Регистрация</a>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Добро пожаловать!</h1>
                <p>Чтобы оставаться на связи с нами, пожалуйста, войдите, используя свои личные данные.</p>
                <button class="ghost" id="signIn">Войти</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Привет, друг!</h1>
                <p>Введите свои личные данные и начните путешествие вместе с нами</p>
                <button class="ghost" id="signUp">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>