<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/success-registration.css}">
</head>
<body>
<div id="card" class="animated fadeIn">
    <div id="upper-side">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h3 id="status">Успешно</h3>
    </div>
    <div id="lower-side">
        <p id="message">
            Поздравляем, ваш аккаунт был успешно создан.
        </p>
        <a href="/" id="contBtn">Продолжить</a>
    </div>
</div>
</body>
</html>